@import "variable";
@import "mixins";
@import "animation";

* {
  font-family: "Rubik";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// navigation
.nav {
  display: flex;
  justify-content: space-between;
  max-width: 1272px;
  max-height: 7.125rem;
  margin: 0px auto;
  margin-bottom: 114px;
  padding-top: 2.125rem;
  align-items: center;
  @include breakpoints("mobile") {
    max-width: 19.375rem;
    margin-bottom: 77px;
  }
  .nav__logo {
    z-index: -1;
  }
  .hamburger {
    width: 1.125em;
    height: 0.9375em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;

    img {
      width: 1.125em;
    }
    @include breakpoints("mobile") {
      display: flex;
    }
  }
  .nav__menu {
    display: flex;
    align-items: center;
    @include breakpoints("mobile") {
      display: none;
    }
    .menu__list {
      display: flex;
      ul:first-child {
        margin-right: 2.875em;
      }
      ul:last-child {
        margin: 0px 2.875em;
      }

      .menu__link {
        text-decoration: none;
        color: map-get($map: $neutral, $key: "VeryDarkBlue");
        text-transform: uppercase;
        cursor: pointer;
        font-size: 0.75em; //12px

        &:hover {
          color: map-get($map: $primary, $key: "SoftRed");
        }
      }
    }
    .menu__btn {
      width: 6.9375em;
      height: 2.4375em;
      background-color: map-get($map: $primary, $key: "SoftRed");
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0px 2px 4px map-get($map: $neutral, $key: "GrayishBlue");
      text-transform: uppercase;
      font-size: 12px;

      &:hover {
        background-color: transparent;
        border: 2px solid map-get($map: $primary, $key: "SoftRed");
        color: map-get($map: $primary, $key: "SoftRed");
      }
    }
  }
}

.nav__menu__mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: map-get($map: $neutral, $key: "VeryDarkBlue");
  opacity: 0.9;
  height: 100vh;
  top: -100vh;
  transition: top 0.3s linear;
  .menu__list {
    ul {
      width: 306px;
      height: 64px;
      border-top: 1px solid map-get($map: $neutral, $key: "GrayishBlue");
      display: flex;
      justify-content: center;
      align-items: center;
    }
    ul:last-child {
      border-bottom: 1px solid map-get($map: $neutral, $key: "GrayishBlue");
    }
    .menu__link {
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      font-size: 18px;
    }
  }
  .menu__btn {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    width: 307px;
    height: 46px;
    margin-top: 24px;
    font-size: 16px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.open {
  position: absolute;
  top: 0vh;
  right: 0;
  left: 0;
}

// hero section
.hero__section {
  margin-left: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include breakpoints("mobile") {
    margin-left: 15px;
    flex-direction: column-reverse;
    align-items: unset;
  }

  &__heading {
    max-width: 480px;

    @include breakpoints("mobile") {
      max-width: 320px;
    }

    h1 {
      font-size: 48px;
      margin-bottom: 38px;
      color: map-get($map: $neutral, $key: "VeryDarkBlue");
      font-weight: 500;

      @include breakpoints("mobile") {
        font-size: 32px;
        text-align: center;
        margin-bottom: 33px;
      }
    }

    p {
      font-size: 16px;
      line-height: 26px;
      color: map-get($map: $neutral, $key: "GrayishBlue");
      margin-bottom: 32px;

      @include breakpoints("mobile") {
        text-align: center;
        margin-bottom: 32px;
      }
    }

    &__btn {
      width: 168px;
      height: 46px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0px 2px 4px map-get($map: $neutral, $key: "GrayishBlue");
      text-transform: uppercase;
      font-size: 12px;
      margin-right: 14px;

      @include breakpoints("mobile") {
        width: 150px;
        margin-right: 8px;
      }
    }

    .primary__btn {
      background-color: map-get($map: $primary, $key: "SoftBlue");
      color: #fff;

      &:hover {
        background-color: #fff;
        border: 1px solid map-get($map: $primary, $key: "SoftBlue");
        color: map-get($map: $primary, $key: "SoftBlue");
      }
    }

    .secondary__btn {
      background-color: #fff;
      color: map-get($map: $neutral, $key: "VeryDarkBlue");

      &:hover {
        border: 1px solid map-get($map: $neutral, $key: "VeryDarkBlue");
      }
    }
  }

  &__image {
    @include breakpoints("mobile") {
      margin-bottom: 58px;
    }
    img {
      @include breakpoints("mobile") {
        width: 360px;
      }
    }
  }
}

.features {
  margin-top: 94px;
  &__header {
    @include header;
    @include breakpoints("mobile") {
      max-width: 292px;
    }

    h3 {
      @include subheading;
    }

    p {
      @include paragraph;
      @include breakpoints("mobile") {
        font-size: 14px;
      }
    }
  }

  &__slider {
    &__options {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      max-width: 726px;
      height: 50px;
      border-bottom: 1px solid map-get($map: $neutral, $key: "GrayishBlue");
      margin: 0 auto;
      margin-bottom: 30px;
      @include breakpoints("mobile") {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        border-bottom: none;
        margin-top: 120px;
      }

      &__content {
        @include breakpoints("mobile") {
          max-width: 300px;
          min-height: 64px;
        }
      }

      &__link {
        text-decoration: none;
        color: map-get($map: $neutral, $key: "GrayishBlue");
        cursor: pointer;

        @include breakpoints("mobile") {
          margin: 0 auto;
          text-align: center;

          &::before {
            content: "";
            background-color: map-get($map: $neutral, $key: "GrayishBlue");
            width: 300px;
            height: 0.8px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        &:hover {
          color: map-get($map: $primary, $key: "SoftRed");
        }
      }
    }
  }

  &__slider__menu {
    display: flex;
    justify-content: center;
    overflow: hidden;

    &__content {
      min-width: 100%;
      display: flex;
      margin-top: 72px;
      padding-right: 175px;
      justify-content: space-between;
      transition: transform 0.4s linear;

      @include breakpoints("mobile") {
        flex-direction: column;
      }

      &__image {
        img {
          @include breakpoints("mobile") {
            width: 340px;
          }
        }
      }

      &__details {
        margin-top: 70px;
        max-width: 428px;

        @include breakpoints("mobile") {
          width: 340px;
          margin-left: 10px;
          text-align: center;
        }

        h3 {
          font-size: 32px;
          color: map-get($map: $neutral, $key: "VeryDarkBlue");
          margin-bottom: 35px;
        }

        p {
          font-size: 16px;
          line-height: 24px;
          color: map-get($map: $neutral, $key: "GrayishBlue");
          margin-bottom: 40px;
        }

        button {
          @include button;
          @include shadow;
        }
      }
    }
  }
}

.active {
  color: map-get($map: $neutral, $key: "VeryDarkBlue");
}

.download {
  margin-top: 158px;

  &__header {
    @include header;
    @include breakpoints("mobile") {
      max-width: 300px;
    }

    h3 {
      @include subheading;
      @include breakpoints("mobile") {
        font-size: 24px;
      }
    }

    p {
      @include paragraph;
    }
  }

  &__card__container {
    display: flex;
    justify-content: center;
    column-gap: 32px;
    flex-wrap: wrap;
    max-width: 910px;
    min-height: fit-content;
    margin: 0 auto;

    .card {
      width: 280px;
      height: 370px;
      @include shadow;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:nth-child(2) {
        transform: translateY(38px);
      }
      &:nth-child(3) {
        transform: translateY(74px);
      }

      img {
        margin-bottom: 32px;
      }
      strong {
        font-size: 18px;
        color: map-get($map: $neutral, $key: "VeryDarkBlue");
        margin-bottom: 18px;
      }
      p {
        font-size: 14px;
        color: map-get($map: $neutral, $key: "GrayishBlue");
        margin-bottom: 40px;
      }

      button {
        @include button;
        @include shadow;
      }
    }
  }
}

.faq {
  margin-top: 242px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    @include header;
    @include breakpoints("mobile") {
      max-width: 300px;
    }

    h3 {
      @include subheading;
    }

    p {
      @include paragraph;
    }
  }

  &__accordion {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      background-color: transparent;
      width: 542px;
      border: none;
      text-align: left;
      font-size: 18px;
      color: map-get($map: $neutral, $key: "VeryDarkBlue");
      cursor: pointer;

      @include breakpoints("mobile") {
        width: 300px;
      }

      .btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 26px 0px;
      }
      &:hover {
        color: map-get($map: $primary, $key: "SoftRed");
      }

      &::before {
        content: "";
        height: 0.8px;
        width: 542px;
        background-color: map-get($map: $neutral, $key: "GrayishBlue");
        display: flex;

        @include breakpoints("mobile") {
          width: 300px;
        }
      }
    }

    .answer {
      height: 0px;
      overflow: hidden;
      transition: height 1s ease-in;

      &:last-child::after {
        content: "";
        height: 0.8px;
        width: 542px;
        background-color: map-get($map: $neutral, $key: "GrayishBlue");
        display: flex;
      }

      p {
        max-width: 542px;
        color: map-get($map: $neutral, $key: "GrayishBlue");
        line-height: 28px;
        font-size: 16px;
        margin-bottom: 42px;

        @include breakpoints("mobile") {
          width: 300px;
        }
      }
    }
    .active {
      height: max-content;
      overflow: visible;
    }
  }

  .more__info {
    margin-top: 54px;
    @include button;
    @include shadow;
  }
}

.contact {
  margin-top: 146px;
  background-color: map-get($map: $primary, $key: "SoftBlue");
  padding: 64px 0px;

  &__details {
    max-width: 444px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    small {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 10px;
    }
    h3 {
      margin: 46px 0px;
      max-width: 410px;
      font-size: 28px;
    }

    &__email {
      display: flex;
      align-items: flex-start;
      text-align: left;

      @include breakpoints("mobile") {
        flex-direction: column;
        align-items: center;
      }

      .input__email {
        margin-right: 18px;
        min-width: 300px;
        position: relative;

        input {
          width: 300px;
          padding: 19px;
          border: none;
          border-radius: 5px;

          &:focus {
            outline: none;
          }

          @include breakpoints("mobile") {
            margin-bottom: 16px;
          }
        }
        @include breakpoints("mobile") {
          margin-right: 0px;
        }
      }

      button {
        padding: 18px 25px;
        background-color: map-get($map: $primary, $key: "SoftRed");
        color: #fff;
        border: 1px solid transparent;
        border-radius: 5px;
        cursor: pointer;

        @include breakpoints("mobile") {
          width: 300px;
        }

        &:hover {
          background-color: #fff;
          color: map-get($map: $primary, $key: "SoftRed");
          border: 1px solid map-get($map: $primary, $key: "SoftRed");
        }
      }
    }
  }
}

.error {
  width: 302px;
  height: 72px;
  border: 1px solid map-get($map: $primary, $key: "SoftRed");
  border-radius: 5px;
  background-color: map-get($map: $primary, $key: "SoftRed");

  &::before {
    content: "!";
    background-color: map-get($map: $primary, $key: "SoftRed");
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 15px;
    top: 22%;
    border-radius: 50px;
  }

  small {
    text-transform: none;
    letter-spacing: normal;
    position: relative;
    left: 4px;
    font-size: 12px;
  }
}

.footer {
  height: 74px;
  background-color: map-get($map: $neutral, $key: "VeryDarkBlue");
  @include breakpoints("mobile") {
    height: max-content;
  }
  &__menu {
    max-width: 1112px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 22px 0px;

    @include breakpoints("mobile") {
      flex-direction: column;
      align-items: center;
      padding: 42px 0px;
    }

    &__left {
      display: flex;
      align-items: center;
      @include breakpoints("mobile") {
        flex-direction: column;
      }
      &__list {
        display: flex;
        color: #fff;
        margin-left: 64px;
        text-transform: uppercase;
        font-size: 14px;

        @include breakpoints("mobile") {
          margin-left: 0px;
          flex-direction: column;
          text-align: center;
        }

        & ul:first-child {
          margin-right: 46px;

          @include breakpoints("mobile") {
            margin-right: 0px;
            margin: 42px 0px;
          }
        }

        & ul {
          cursor: pointer;
        }

        & ul:hover {
          color: map-get($map: $primary, $key: "SoftRed");
        }

        & ul:last-child {
          margin-left: 46px;

          @include breakpoints("mobile") {
            margin-left: 0px;
            margin: 42px 0px;
          }
        }
      }
    }
    &__right {
      & img:first-child {
        margin-right: 42px;
      }

      & img {
        cursor: pointer;
      }

      & img:hover {
        background: map-get($map: $primary, $key: "SoftRed");
      }
    }
  }
}
